@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

.ralway_font {
  font-family: 'Raleway', sans-serif;
  font-weight: 600;
  font-size: 36px;
}

.roboto_font_h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
  font-size: 40px;
}

.roboto_font_p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 16px;
  font-style: normal;
  letter-spacing: 0.03em;
}

.roboto_font_h2 {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 24px;
  font-style: normal;
  letter-spacing: 0.03em;
}

input[type="radio"]:checked {
  appearance: none;
  padding: 0;
  content: none;
  border: none;
  font-size: 5px;
  height: 25px;
  width: 25px;
  border-radius: 20px;
  background-color: green;
}

input[type=radio] {
  margin: 0px 10px;
  border: 0px;
  width: 20px;
  height: 30px;

}

input[type="radio"]:checked::before {
  /* position: absolute; */
  /* background-color: green; */
  color: white !important;
  content: "\00A0\2713\00A0" !important;
  /* border: 1px solid #d3d3d3; */
  font-weight: bolder;
  font-size: 15px;
  height: 30px;
  width: 30px;
  padding: 2px;


}

.border_red {
  border-color: linear-gradient(to right top, #de4313, #e7681e, #ef8831, #f7a548, #fec163);
}